*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Assistant,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;

}
#screen{
    width: 100%;
}
.nav{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content:space-around;
    /* align-items: center; */
    padding: 20px 10px;
    box-shadow: 0px 3px 14px #f0f0f0;

}
.logo{
    width: 5%;
    /* height: 60px; */
}
.logo img{
    width: 100%;
    height: 100%;
}
.nav-link{
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-link .nav-item h1{
    font-weight: bold;
    font-size: smaller;
    text-transform: uppercase;
    color: #282c3f;
    cursor: pointer;
}
.nav-link .nav-item sup{
    font-size: xx-small;
    text-transform: uppercase;
    color: #ff3f6c;
    font-weight: bold;
}

.searchbar{
    width: 30%;  
    display: flex;
    align-items: center;  
  

}
.search-item{
    display: flex;
    justify-content:left;
    gap: 20px;
    width: 100%;
    align-items: center;
    background-color: #f0f0f0;
    border-radius: 8px;
    padding: 10px 10px 10px 15px;
    

}
.search-item i{
    color: gray;
   
}
.search-item input{
    border: none;
    width: 100%;
    background-color: #f0f0f0;
    outline: none;
    font-size: smaller;
}
.search-item input ::placeholder{
    font-size: smaller;
    
}
.info{
    width: 15%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.info-item{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.info-item i{
    margin-bottom: 4px;
}
.info-item span{
    font-size: 12px;
    font-weight: bold;
    text-transform: capitalize;
    color: #282c3f;;

}

/* slider */
.slider{
    width: 100%;
    height: 400px;
    margin-bottom: 30px;
}
.slider img{
    width: 100%;
}
.title{
    width: 95%;
    margin: auto;
    margin-bottom: 50px;
    font-size: 14px;
    word-spacing: 4px;
    letter-spacing: 1.2px;

}
.deal-container{
    width: 100%;
    display: flex;
}
.product{
    width: 13%;
    margin-bottom: 30px;

}
.product img{
    width: 100%;
    /* height: 100%; */
}
.ex-brands{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  margin-bottom: 30px;

}
.ex-brands .product{
    width: 12.3%;
    height: 190px;
   
}
.top-picks{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.top-picks .product{
    width: 15%;
}

.categories{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;

}
.categories .product{
    width: 12.5%;
    height: 179px;
}
.top-brands{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
.top-brands .product{
    width: 12.5%;
    height: 240px;
}

.slashed-price{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    align-items: stretch;
}
.slashed-price .product{
    width: 14.2%;
    height: 195px;
}

.best-buy{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 30px;
}
.best-buy .product{
    width: 12%;
    height: 175px;
}

.luxe{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
}
.luxe .product{
    width: 12.5%;
    height: 194px;
}
.gift-cards{
    width: 100%;
    margin-bottom: 50px;
}
.cards{
    width: 100%;
    display: flex;
    
}
.cards .product{
    width: 25%;
    height: 267px;
}
.gift-product{
    width: 100%;
    display: flex;
}
.gift-product .product{
    width: 12.5%;
}
.footer{
    width: 100%;
    background-color: #fafbfc;

}
.footer-container{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;

}
.left{
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    border: 1px solid seagreen;

}

.links{
    width: 25%;
    border: 1px solid saddlebrown;
}
.footer-title{
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 15px;
    color: #282c3f;
}
.footer-content{
    font-size: 14px;
    margin: 15px;

}
.policy{
    width: 25%;
    border: 1px solid salmon;

}
li{
    list-style: none;
    margin-bottom: 5px;
    color: gray;
}
.social-links{
    width: 50%;
    border: 1px solid sandybrown;

}

.right{
    width: 30%;
    border: 1px solid slateblue;

}
.social-app{
    width: 70%;
    display: flex;
}

.social-app img{
    width: 60%;
}
.social-icons {
    width: 100%;
}
.social-icons i{
    font-size: 24px;
    color: gray;
    margin: 5px 5px 5px 10px;
}
.c-policy{
    width: 100%;
}
.c-policy-img{
    width: 15%;

}
.c-policy-img img{
    width: 100%;

}
.c-policy-content{
    width: 85%;
}



























